

/* app/components/ParallaxSection1.module.css */
.parallaxSection {
  position: relative;
  width: 100%;
  height: 56vw;
  min-height: 200px;
  max-height: 700px;
  overflow: hidden;
  background-color: #003705;
}

.parallaxVideoWrapper {
  position: absolute;
  top: 0%;
  left: 0;
  width: 100%;
  height: 120%;
  transition: none !important;
}

.parallaxVideo {
  width: 110%;
  height: 110%;
  object-fit: cover;
  object-position: center center;
  transition: none !important;
}

/* モバイル */
@media (max-width: 768px) {
  .parallaxSection {
    height: 56vw;
    min-height: 300px;
    max-height: 600px;
  }

  .parallaxVideoWrapper {
    top: -5%;
    height: 110%;
  }
}

/* 小型モバイル */
@media (max-width: 480px) {
  .parallaxSection {
    height: 85vw;
    min-height: 350px;
    max-height: 600px;
  }
}